body {
  color: white;
  background-color: black;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
img {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
a {
  color: orange;
}
.links {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex: 1;
  text-align: center;
  margin-top: 20px;
}
.link-back-to-homepage {
  display: block;
  text-align: center;
  margin-top: 20px;
}
.picture-of-croissant {
  max-width: 100%;
  margin: 20px auto;
  border-radius: 10px;
}
