body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
.links {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex: 1;
  text-align: center;
}
.link-back-to-homepage {
  display: block;
  text-align: center;
  margin-top: 20px;
}
